.add-field {
   display: flex;
   &__input {
      font-family: inherit;
      flex: 1 0 auto;
      padding: 10px;
      font-size: 16px;
      border-radius: 10px 0 0 10px;
      border: 1px solid rgba(128, 128, 128, 0.3);
   }
   &__btn {
      font-family: inherit;
      border-radius: 0 10px 10px 0;
      padding: 0 10px;
      border: 1px solid rgba(128, 128, 128, 0.3);
      transition: all 0.3s ease 0s;
      @media (min-width: 992px) {
         &:hover {
            color: #fff;
            background-color: rgba(128, 128, 128, 0.3);
         }
      }
   }
}
